ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
}

.warp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.media {
  margin: 10px;
}

.lrc {
  border: 1px solid #f3f1f1;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 10px 20px;
  color: #666;
  height: 80vh;
  text-align: center;
  overflow: hidden;
}

ul{
  transition: 0.6s;
}

ul li {
  line-height: 1.5;
  font-size: 24px;
  transition: 0.6s;
}

.active {
  transform: scale(1.5);
  color: #fff;
}
