@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
html::-webkit-scrollbar-thumb {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#002fa7),
    to(#ecebe1)
  );
  background: linear-gradient(180deg, #002fa7, #ecebe1);
  border-radius: 30px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0);
}
html::-webkit-scrollbar-track {
  /* background: linear-gradient(90deg, #201c29, #201c29 1px, #100e17 0, #100e17); */
  background: transparent;
}
